In [1]:
import pandas as pd
import sqlalchemy as db

In [2]:
engine = db.create_engine('mysql+mysqlconnector://root:root@localhost:3306/health_data')

In [5]:
#importing the preprocessed data
df = pd.read_csv('../data/cleaned_data.csv')
df.head()

,Patient_ID,Admit_Date,Discharge_Date,Diagnosis,Bed_Occupancy,Test,Doctor,Followup Date,Feedback,Billing Amount,Health Insurance Amount,Length_of_Stay
0,23571,2022-12-31,2023-01-12,Viral Infection,General,MRI,Jay Sinha,2023-01-20 00:00:00,5.0,13234,11911,12
1,27781,2023-01-04,2023-01-12,Typhoid,ICU,MRI,Jaya Yaadav,2023-01-16 00:00:00,4.0,12241,11017,8
2,24413,2023-01-05,2023-01-12,Malaria,General,CT Scan,Jay Sinha,2023-01-15 00:00:00,5.0,35255,31730,7
3,27360,2023-01-05,2023-01-12,Flu,Private,X-Ray,Jaya Yaadav,2023-01-19 00:00:00,5.0,6582,5924,7
4,26097,2023-01-06,2023-01-12,Viral Infection,General,Blood Test,Jaya Yaadav,2023-02-06 00:00:00,4.9,4567,4110,6

In [6]:
#adding the dataframe to sql table
df.to_sql(name='patients_data', con = engine, if_exists='replace', index = False)

7157

In [8]:
query  = "SELECT * from patients_data"

df = pd.read_sql(query, con=engine)
df

,Patient_ID,Admit_Date,Discharge_Date,Diagnosis,Bed_Occupancy,Test,Doctor,Followup Date,Feedback,Billing Amount,Health Insurance Amount,Length_of_Stay
0,23571,2022-12-31,2023-01-12,Viral Infection,General,MRI,Jay Sinha,2023-01-20 00:00:00,5.0,13234,11911,12
1,27781,2023-01-04,2023-01-12,Typhoid,ICU,MRI,Jaya Yaadav,2023-01-16 00:00:00,4.0,12241,11017,8
2,24413,2023-01-05,2023-01-12,Malaria,General,CT Scan,Jay Sinha,2023-01-15 00:00:00,5.0,35255,31730,7
3,27360,2023-01-05,2023-01-12,Flu,Private,X-Ray,Jaya Yaadav,2023-01-19 00:00:00,5.0,6582,5924,7
4,26097,2023-01-06,2023-01-12,Viral Infection,General,Blood Test,Jaya Yaadav,2023-02-06 00:00:00,4.9,4567,4110,6
...,...,...,...,...,...,...,...,...,...,...,...,...
7152,29885,2024-03-03,2024-03-07,Typhoid,Private,Blood Test,Jay Sinha,2024-03-10 00:00:00,5.0,2342,2108,4
7153,26517,2024-03-04,2024-03-07,Pneumonia,Private,CT Scan,Jaya Yaadav,2024-03-14 00:00:00,5.0,24943,22449,3
7154,28201,2024-03-05,2024-03-07,Flu,General,Blood Test,Jay Sinha,Not Scheduled,3.5,2343,2109,2
7155,24833,2024-03-06,2024-03-07,Typhoid,Private,X-Ray,Mark Joy,2024-03-15 00:00:00,4.9,3475,3128,1
7156,30727,2024-03-06,2024-03-07,Viral Infection,Private,Ultrasound,Jaya Yaadav,2024-03-11 00:00:00,5.0,66537,59883,1

SQL QUERIES